main {
  width: 100%;
  max-width: 1200px;

  padding: 80px;
}


/* =========================================
   タイムラインヘッダー
========================================= */

.top-heading {
  background-color: #755AB0;
}


/* =========================================
   メンバー表示
========================================= */

#memberList {
  display: flex;

  flex-direction: column;

  gap: 10px;

  width: 100%;
}


/* 個別組表示 */

.genRow {
  display: grid;

  grid-template-columns: 80px 1fr;

  align-items: start;

  gap: 10px;
}


/* 全組表示 */

.matrixWrapper {
  width: 100%;

  overflow-x: auto;
}


.matrixRow {
  display: grid;

  grid-template-columns:
    60px repeat(5, 125px);

  gap: 10px;

  align-items: start;

  min-width: 750px;
}


.genLabel {
  font-weight: bold;

  text-align: right;
}


.memberArea {
  display: flex;

  flex-wrap: wrap;

  gap: 8px;
}


.member {
  width: 125px;

  padding: 2px;

  text-align: center;
}


/* =========================================
   名前
========================================= */
.memberLink{
    display:block;
    color:inherit;
    text-decoration:none;

    background-color:var(--trp-light);

    padding:3px;

    transition:.15s;
}

.memberName{
    font-weight:400;
}

/* =========================================
   主演・ヒロイン歴
========================================= */

.career {
  margin-top: 2px;

  font-size: 10px;
  line-height: 1.2;

  color: #666;
}


/* =========================================
   スライダー
========================================= */

#sliderArea {
  width: 100%;
  max-width: 600px;

  margin: 0 auto;
}


#slider {
  width: 100%;

  accent-color: #755AB0;
}


#sliderTicks {
  position: relative;

  height: 30px;

  margin-top: 5px;
}


.tick {
  position: absolute;

  transform: translateX(-50%);

  font-size: 12px;

  color: #555;
}


.tick::before {
  content: "";

  display: block;

  width: 1px;
  height: 8px;

  margin: auto;

  background: #555;
}


/* =========================================
   レイアウト
========================================= */

#pageLayout {
  display: flex;

  gap: 30px;

  width: 100%;
}


#contentArea {
  display: flex;

  gap: 20px;

  align-items: flex-start;

  margin-top: 20px;
}

#filterMenu {
    width: 90px;

    display: flex;
    flex-direction: column;

    gap: 20px;

    flex-shrink: 0;
}

/* =========================================
   組選択
========================================= */

#trpMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.trpBtn {
    padding: 8px;
    cursor: pointer;

    background-color: white;

    border: 1px solid var(--trp-strong);
    border-radius: 6px;

    transition: .15s;
}

.trpBtn.active {
    background-color: var(--trp-strong);
    font-weight: 600;
    color: white;
}

.trpBtn:active {
    transform: scale(.98);
}

.trpBtn:not(.active):hover {
    background-color: var(--trp-light);
}

/* =========================================
   役選択
========================================= */

#typeMenu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.typeBtn {
    padding: 7px 15px;
    cursor: pointer;
    border: 1px solid var(--all-strong);
    border-radius: 6px;
    background-color: white;
}

.otokoBtn {
    border-color: var(--otoko-color);
}

.musumeBtn {
    border-color: var(--musume-color);
}

.typeBtn.allTypeBtn.active {
    background-color: var(--all-strong);
    font-weight: 600;
    color: white;
}

.typeBtn.otokoBtn.active {
    background-color: var(--otoko-color);
    font-weight: 600;
    color: white;
}

.typeBtn.musumeBtn.active {
    background-color: var(--musume-color);
    font-weight: 600;
    color: white;
}

.typeBtn:active {
    transform: scale(.98);
}

.typeBtn.otokoBtn:not(.active):hover {
    background-color: var(--otoko-light);
}

.typeBtn.musumeBtn:not(.active):hover {
    background-color: var(--musume-light);
}

.typeBtn.allTypeBtn:not(.active):hover {
    background-color: var(--all-light);
}


/* =========================================
   トップマーク
========================================= */

.topMark {
  display: inline-block;

  width: 20px;
  height: 14px;

  background-image:
    url("../img/crown.png");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* =========================================
   男役・娘役
========================================= */

.otoko {
  outline: 1px solid var(--otoko-color);
}

.musume {
  outline: 1px solid var(--musume-color);
}